/* Body  */
body {
  background: white;
  font-family: 'Cinzel', serif;
  margin: 20px;
  color: #2f2f2f;
  text-align: center; 
  cursor: url("images/cursor.cur"), auto; /* Image Source: <a href="https://www.flaticon.com/free-icons/wand" title="wand icons">Wand icons created by Freepik - Flaticon</a> */ 
}

h1 {
  margin-bottom: 20px;
}

/* Container: side-by-side layout */
#container {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  max-width: 1200px; 
  margin: 0 auto;   
}

/* Chart area */
#chart {
  width: 910px;  
  height: 600px;
  position: relative;
  background: url("images/frame.jpg") no-repeat center; /* Image source: https://stock.adobe.com/search/images?filters%5Bcontent_type%3Aphoto%5D=1&filters%5Bcontent_type%3Aillustration%5D=1&filters%5Bcontent_type%3Azip_vector%5D=1&filters%5Bcontent_type%3Aimage%5D=1&k=frame&order=relevance&price%5B%24%5D=1&limit=100&search_page=1&search_type=usertyped&acp=&aco=frame&get_facets=0&asset_id=284921759 */
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Ensure padding to fit chart inside */
}

/* Keep the Chart Inside the Frame */
#chart svg {
  width: 750px; 
  height: 670px;
  margin-top: 60px;
  margin-left: 20px;

}

/* Prevent Overflow */
#chart svg foreignObject {
  height: 700px;
  width: 900px;
}

/* Side panel */
#side-panel {
  width: 300px;
  min-height: 500px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  text-align: left; 
}

#side-panel h2 {
  margin-top: 0;
}

.house-image {
  max-width: 100px;
  display: block;
  margin-bottom: 10px;
}


/* Color Legend */
#colorLegend {
  position: relative;
}
